.toggle-switch {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
    border-color: #cccccc;
    position: relative;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    min-width: 100px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.toggle-switch .knob {
    color: #333333;
    background: #ffffff;
    border: 3px;
}

.toggle-switch .switch-left {
    color: #fff;
    background: #ff931e;
}

.toggle-switch .switch-right {
    color: #000;
    background: #eeeeee;
}
