@import url('font-awesome.css');

*{
    box-sizing: border-box;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
html {
  position: relative;
  min-height: 100%;
}

body {
        margin:0; padding:0;
	width:100%;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
        
}
#centro{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
   
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}
#cotizador{
    visibility: hidden;
}
#contenedor-chat
{
    position:fixed;
    top:300px;
    right: 0px;
    padding:0px;
    margin:0px;
    width: 40px;
    height:160px;
    background:#FF931E;
    z-index:15;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}

#contenedor-chat i
{
    margin: 15px 0px 45px 13px;
}

#contenedor-chat:hover{
     color:#fff;
     background:rgba(255,147,30,0.95);
}

.rotate-chat
{
    color: #fff;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}
#row-pago,#row-monto,#row-periodo,#row-plazo{
    display: none;
}

.titlulo{
    
     color:#1F497D;
     font-weight: bold;
     font-size: 20px;
}
.subtitulo {
    font-size: 1.2em;
    color: #ff8a00;
    text-align: left;
    padding: 0 5px 10px;
    font-weight: 600;
    margin: 0 0 5px;
}
.azul{
    color:#1F497D;
}
.blanco{
    color: white;
}

.btn-info{
     color:#fff;
     background: #1F497D;
}
.btn-info:hover{
    color:#fff;
     background:#1F497D;
}
.form-control:focus {
  border-color: #F79646;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 150, 4, 0.5);
}
btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.progress-indicator > li {
    color: white;
}
.btn-circle {

  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: -5px;
  margin-left: 5px;
}

.chat-section{
        position:absolute; 
        bottom:0;
        width:100%;
        padding:0 0 0 15px;
    }
.btn-orange {
    background: #ff8a00;
    color: #fff;
}
.btn-orange:hover{
     color:#fff;
     background:#ff961c;
}
.btn-green {
    background: #1ec267;
    color: #fff;
    margin: 8px 0;
    font-size: 1.2em;
    line-height: 18px;
    padding: 18px 12px;
}
.navbar-default{
    background-color:#fff;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #00246c;
}   
#home{
    width: 100%;

}
.jumbotron {
     color: black;
     background: #FFFFFF;
     max-height: 600px;
}
.center {
    bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #ffce54;
}
.mensaje-slider {
     font-size: 1.8em;
    padding: 1em 2em;
    background: rgba(0, 0, 0, 0.40);
    line-height: 25px;
    position: absolute;
    left: 10%;
    top: 300px;
    border-radius: 10px;
    width: 530px;
    font-weight: 600;
}
.header-slider{
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.contendor-intruccion {
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
.cartoon-instruccion{
    margin-top:30px;
}
.intruccion-texto{
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
}
.flip-horizontal{
        moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        
}
.form-pricing {
	background: #ffffff;
	padding: 15px;
	border-radius: 4px;
}
.form-group {
    margin-top: 10px;
}
.col-button {
    padding-left: 5px;
    padding-right: 5px;
}
.col-button input[type="radio"] {
    display: none;
    color: #FFF;
    text-shadow: 0 1px #10b65a;
    text-align: center;
}
.col-button input[type="radio"]:checked + label {
    background: #ff8a00;
    height: 100%;
    width: 100%;
    color: #FFF;
    text-shadow: 0 1px #fe6d1a;
    z-index: 10;
}
.col-button label {
    background: #CCC;
    border-radius: 2px;
    display: inline-block;
    font-size: 15px;
    width: 100%;
    height: 100%;
    color: #565656;
    font-weight: 600;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.row-padding-alt {
    padding: 0;
}
 .form-personales {
    padding: 1em;
    border: 1px solid #d3d3d3;
    text-align: left;
    background: #fff;
}
.alert-warning{
    background-color: #ff8a00;
    border-color: #ff8a00; position: fixed; top: 0; right: 0; z-index: 1
}

/*Adaptando contenedor-cotizador para mÃ³viles*/
@media(max-width:480px){
    .titlulo{
     font-size: 16px;
    }
    .jumbotron{
        background: none;
    }
    .contendor-cotizador{
        background: #f5f5f5;
        border-radius: 5px;
    }
    .form-pricing{
             padding: 2px;
             background: #f5f5f5;
    }   
    
}


@media(min-width:992px){
    
    /*Progress Indicator*/
    .progress-indicator{
           -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            
    }
     .progress-indicator.stacked {
         background-color: white;
     }
    .progress-indicator > li{
        color:white;
    }
    .progress-indicator > li .bubble {
         border-bottom: 1px solid #888888;
    }
    
    .contendor-cotizador{
            background: #fff;
            padding: 0.5em 2em 3em;
            position: relative;
            -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);
            box-shadow: 0 9px 15px rgba(0,0,0,.1);
            -moz-transform: scale(0.85);
            -ms-transform: scale(0.85);
            -o-transform: scale(0.85);
            -webkit-transform: scale(0.85);
            transform: scale(0.85);
            margin-top: -10px;
    }
    
    
     .contendor-registro{
            background: #fff;
            padding: 0.5em 2em 3em;
            position: relative;
            -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);
            box-shadow: 0 9px 15px rgba(0,0,0,.1);
            margin-top: -10px;
    }
    .top-content {
        padding: 40px 0 170px 0;
    }
    .jumbotron{
            background-image:url("../img/1.JPG");
            background-size: cover;
    }
  .row-loan .logo-loan {
    display: block;
    position: absolute;
    top: 30px;
    left: -150px;
}

.row-loan .logo-loan {
    display: none;
}



}
@media (min-width: 768px)
{
     .col-list {
        float: left !important;
        padding: 10px 35px 10px 15px; 
    }
    
      .row-padding-alt {
         padding: 2em 0 4em;
     }
     .col-loan div .table {
         margin-bottom: 17px;
     }

    .tablaHeader {
	font-weight: 600;
	font-size: small;
    } 
    
    input[type=number]{
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .btn-orange {
        font-size: 1.3em;
        margin: 15px 0;
        -moz-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }
    
    .btn-orange span {
        font-size: 1.5em;
    }

    .btn-orange span {
        font-size: 1.3em;
    }
    .form-pricing {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    .row-calculator {
    padding: 2.5em 2em 4.5em;
    }
   .row-loan {
    margin-bottom: -8px;
}
    .row-loan {
        margin-bottom: 0;
        position: relative;
         background: rgba(255, 138, 0, 1);
    }
    
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
   .col-loan {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    float: right !important;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    }
    .row-loan .col-name h4 {
    font-size: 1.2em;
    padding: 0 5px;
    margin-bottom: 5px;
}
}
.col-loan {
    background: rgba(0, 0, 0, 0.1);
    }
.row-loan {
         background: rgba(255, 138, 0,1);
    }
    

@media (min-width: 374px){
.row-loan .col-name h4 {
    font-size: 1em;
    padding: 5px 10px;
    margin-bottom: 15px;
    margin-top: 24px;
}
}

@media (min-width: 1200px)
{
.row-loan .logo-loan {
    display: block;
    position: absolute;
    top: 30px;
    left: -220px;
}
}
.ui-widget-content {
	border: 1px solid #bdc3c7;
	background: #e1e1e1;
	color: #222222;
	margin-top: 4px;
}


.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 5.2em;
	height: 2.2em;
	cursor: default;
	margin: 0 -40px auto !important;
	text-align: center;	
	line-height: 30px;
	color: #FFFFFF;
	font-size: 15px;
}

.ui-slider .ui-slider-handle .glyphicon {
	color: #FFFFFF;
	margin: 0 3px; 
	font-size: 10px;
	opacity: 0.5;
}

.ui-corner-all {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #1F497D;
	background: #1F497D;
        width: 90px;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
	cursor: pointer;
}

.ui-slider-range-min {
	background: #1F497D;
}


.ui-slider a,
.ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

.price, .lead p {
	font-weight: 600;
	font-size: 32px;
	display: inline-block;
	line-height: 60px;
}

h4.great {
	background: #F79646;
	margin: 0 0 25px -60px;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow:    2px 4px 5px 0 #ccc;
  	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
  	box-shadow:         2px 4px 5px 0 #ccc;
}
h4.great-right{
        background: #F79646;
        /*
            top
            right
            bottom
            left
        */
	margin: 0 -50px 25px 0px;
        float: right;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow:    2px 4px 5px 0 #ccc;
  	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
  	box-shadow:         2px 4px 5px 0 #ccc;
}
.total {
	border-bottom: 1px solid #7f8c8d;
	/*display: inline;
	padding: 10px 5px;*/
	position: relative;
	padding-bottom: 20px;
}

.total:before {
	content: "";
	display: inline;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 3px;
	background: #7f8c8d;
	opacity: 0.5;
}

.contenedor-slider {
	margin-bottom:70px;
}

.contenedor-slider span {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 13px;
}



.price-form {
	background: #ffffff;
	margin-bottom: 10px;
	padding: 20px;
	border:1px dashed #ccc;
	border-radius: 4px;
       
	/*-moz-box-shadow:    0 5px 5px 0 #ccc;
  	-webkit-box-shadow: 0 5px 5px 0 #ccc;
  	box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
	margin-bottom: 0;
}

.form-group span.price {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 14px;
}

.help-text {
	display: block;
	margin-top: 32px;
	margin-bottom: 10px;
	color: #737373;
	position: absolute;
	/*margin-left: 20px;*/
	font-weight: 200;
	text-align: right;
	width: 188px;
}

.tablaHeader{
        font-weight: 200;
	font-size: 21px;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* HR */

hr.style {
  margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.btn.btn-primary{
    background-color: #ffa133;
    border-color: #ffa133;
}
.btn.btn-primary:hover,.btn.btn-primary:focus{
     color:#fff;
     background-color:#ff961c;
     border-color: orange;
}

.btn-radio:focus, .btn-radio:active, .btn-radio.active, .open .dropdown-toggle.btn-radio {
    color: #fff;
    background-color: #ff8a00;
    border-color: #adadad;
}

