<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="registro">
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/angular-toggle-switch-bootstrap-3.css">
        <link rel="stylesheet" href="css/angular-toggle-switch.css">
        <link rel="stylesheet" href="css/progress-wizard.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/tema.css">
        <link rel="stylesheet" href="css/estilos.css">
        
       
        <link rel="stylesheet" href="css/sweetalert.css">
         <!--GOOGLE MAPS SCRIPT-->
         
       <script type="text/javascript" src='http://maps.google.com/maps/api/js?key=AIzaSyAxrgxBsI_CtFnIEDsiO_E6SuboqtpzX_s&libraries=places'></script>
        <!--JQUERY-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/libs/locationpicker.jquery.js"></script>
        <style>
            body{
                /* background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=) repeat;*/
               /*   background-color: #F2F2F5;*/
               /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
            background: rgb(255,255,255); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

            }
            gm-map {display: block; width: 100%; height: 300px;}
        </style>
    </head>
    <body  ng-controller="formControlador" ng-init="initLoader()">
        <div class="container">
        <div id="centro" class="wow zoomIn ng-cloak animate-show" ng-show="showLoader">
          <div class="row">
             <div class="col-md-12">
                 <img class="img-responsive"  src="img/ajax-loader.svg" alt="loader"/>
             </div>
          </div>  
        </div>

        <div class="row row-padding-alt wow fadeIn" ng-cloak ng-show="showRegistro">


       <div class="col-md-8 col-md-offset-2">
           <!--Alerta solo registro nombre y telefono-->
           <div class="alert alert-warning wow fadeIn" ng-show="showAlert">
               <a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size:25px">&times;</a>
               <strong style="color:#FFF; cursor:pointer; font-size:14px" ng-click="open()">
                                      Click aquí si solamente quieres escribir tu nombre y telefono
               </strong> 
         </div>

          <div class="row row-loan blanco">
             <div>

                <div class="hidden-xs hidden-sm col-md-5 col-loan">
                   <div class="col-sm-12">
                       <h2 class="txt number"><small class="blanco">Monto del crédito</small>
                           <br><strong><span ng-cloak>{{sectionService.monto|currency}}</span></strong></h2>
                      <table class="table">
                         <tbody>
                            <tr>
                                <td  ng-cloak>Periodo</td>
                                <td class="number" ng-cloak>{{sectionService.periodo}}</td>
                            </tr>
                            <tr>
                                <td  ng-cloak>N° Pagos:</td>
                               <td class="number" ng-cloak><span>{{sectionService.plazo}}</span></td>
                            </tr>
                         </tbody>
                      </table>

                   </div>
                </div>
             </div>
             <div class=" col-xs-12 col-sm-8 col-md-7 col-list">
                 <h4 class="white vertical semi-bold">
                       <strong>
                           <span>¡</span><span>Para continuar con tu proceso de solicitud debes capturar los siguientes datos</span><span>!</span>
                       </strong>
                       <br>   
                   </h4>
                <!--Poner aquí progress list-->
                <ul class="progress-indicator">
                    <li id="personalPaso" ng-class="{completed:sectionService.showPersonal}" >
                   <span class="bubble"></span>
                   <i class="glyphicon glyphicon-user"></i>
                   Personales
               </li>
               <li id="hogarPaso" ng-class="{completed:sectionService.showHogar}">
                   <span class="bubble"></span>
                   <i class="glyphicon glyphicon-home"></i>
                   Domicilio
               </li>
               <li id="trabajoPaso" ng-class="{completed:sectionService.showTrabajo}">
                   <span class="bubble"></span>
                   <i class="glyphicon glyphicon-briefcase"></i>
                   Trabajo                
               </li>
               <li id="referenciaPaso" ng-class="{completed:sectionService.showReferencias}">
                   <span class="bubble"></span>
                   <i class="fa fa-users" aria-hidden="true"></i>
                   Referencias
               </li>
               <li id="privacidadPaso" ng-class="{completed:sectionService.showPrivacidad}">
                   <span class="bubble"></span>
                   <i class="fa fa-lock" aria-hidden="true"></i>
                   Privacidad
               </li>
              </ul>

             </div>

          </div>
          <div class="row">
              <div  class="form-personales">
                <div>
                    <!--INICIO FORM PERSONALES-->
                    <form id="formPersonales" ng-controller="personalesControlador"  ng-submit="submitPersonales()" >
                      <h4><strong>Datos Personales</strong></h4>
                      <div class="row">
                         <div class="col-sm-3">
                            <div class="form-group">
                               <label>Primer nombre:</label>
                               <input type="text" class="form-control"     placeholder="Primer nombre" name="nombre" ng-model="formService.formPersonal.nombre" required>

                            </div>
                         </div>
                          <div class="col-sm-3">
                              <div class="form-group">
                                  <label>Segundo nombre;</label>
                                  <input type="text" class="form-control" placeholder="Segundo nombre" ng-model="formService.formPersonal.segundo_nombre"/>
                              </div>
                          </div>
                         <div class="col-sm-3">
                            <div class="form-group">
                               <label>Apellido paterno:</label>
                               <input type="text" class="form-control"   placeholder="Paterno" name="paterno"  ng-model="formService.formPersonal.paterno" required> 

                            </div>
                         </div>
                         <div class="col-sm-3">
                            <div class="form-group">
                               <label>Apellido materno:</label>
                               <input type="text" class="form-control" placeholder="Materno" name="materno"  ng-model="formService.formPersonal.materno" required>

                            </div>
                         </div>
                      </div>
                      <div class="row">
                         <div class="col-md-12">
                            <div class="form-group">
                                <label>Correo electrónico:</label>
                                <input class="form-control" type="email" name="email"  placeholder="tucorreo@gmail.com"    ng-model="formService.formPersonal.email" maxlength="80" required>

                            </div>
                         </div>
                      </div>

                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                <label>RFC</label>
                                <input class="form-control" type="text" placeholder="RFC"   ng-model="formService.formPersonal.rfc"/>  
                              </div>

                          </div>
                      </div>

                      <div class="row">
                         <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                               <label>Fecha de nacimiento:</label>
                               <div class="row">
                               <div class="col-xs-4">
                                   <select class="form-control" ng-model="dia" ng-change="validarDate()" >
                                   <option ng-selected="true" value="0">Día</option>
                                     <option value="01">1</option>
                                     <option value="02">2</option>
                                     <option value="03">3</option>
                                     <option value="04">4</option>
                                     <option value="05">5</option>
                                     <option value="06">6</option>
                                     <option value="07">7</option>
                                     <option value="08">8</option>
                                     <option value="09">9</option>
                                     <option value="10">10</option>
                                     <option value="11">11</option>
                                     <option value="12">12</option>
                                     <option value="13">13</option>
                                     <option value="14">14</option>
                                     <option value="15">15</option>
                                     <option value="16">16</option>
                                     <option value="17">17</option>
                                     <option value="18">18</option>
                                     <option value="19">19</option>
                                     <option value="20">20</option>
                                     <option value="21">21</option>
                                     <option value="22">22</option>
                                     <option value="23">23</option>
                                     <option value="24">24</option>
                                     <option value="25">25</option>
                                     <option value="26">26</option>
                                     <option value="27">27</option>
                                     <option value="28">28</option>
                                     <option value="29">29</option>
                                     <option value="30">30</option>
                                     <option value="31">31</option>
                                  </select>
                               </div>

                              <div class="col-xs-4">
                                  <select class="form-control" ng-model="mes" ng-change="validarDate()">
                                      <option ng-selected="true">Mes</option>
                                     <option value="01">ENE</option>
                                     <option value="02">FEB</option>
                                     <option value="03">MAR</option>
                                     <option value="04">ABR</option>
                                     <option value="05">MAY</option>
                                     <option value="06">JUN</option>
                                     <option value="07">JUL</option>
                                     <option value="08">AGOS</option>
                                     <option value="09">SEPT</option>
                                     <option value="10">OCT</option>
                                     <option value="11">NOV</option>
                                     <option value="12">DIC</option>
                                  </select>   
                              </div>
                                <div class="col-xs-4">
                                    <select class="form-control" ng-model="anio" ng-change="validarDate()">
                                        <option value="#" ng-selected="true">Año</option>
                                     <option value="1998">1998</option>
                                     <option value="1997">1997</option>
                                     <option value="1996">1996</option>
                                     <option value="1995">1995</option>
                                     <option value="1994">1994</option>
                                     <option value="1993">1993</option>
                                     <option value="1992">1992</option>
                                     <option value="1991">1991</option>
                                     <option value="1990">1990</option>
                                     <option value="1989">1989</option>
                                     <option value="1988">1988</option>
                                     <option value="1987">1987</option>
                                     <option value="1986">1986</option>
                                     <option value="1985">1985</option>
                                     <option value="1984">1984</option>
                                     <option value="1983">1983</option>
                                     <option value="1982">1982</option>
                                     <option value="1981">1981</option>
                                     <option value="1980">1980</option>
                                     <option value="1979">1979</option>
                                     <option value="1978">1978</option>
                                     <option value="1977">1977</option>
                                     <option value="1976">1976</option>
                                     <option value="1975">1975</option>
                                     <option value="1974">1974</option>
                                     <option value="1973">1973</option>
                                     <option value="1972">1972</option>
                                     <option value="1971">1971</option>
                                     <option value="1970">1970</option>
                                     <option value="1969">1969</option>
                                     <option value="1968">1968</option>
                                     <option value="1967">1967</option>
                                     <option value="1966">1966</option>
                                     <option value="1965">1965</option>
                                     <option value="1964">1964</option>
                                     <option value="1963">1963</option>
                                     <option value="1962">1962</option>
                                     <option value="1961">1961</option>
                                     <option value="1960">1960</option>
                                     <option value="1959">1959</option>
                                     <option value="1958">1958</option>
                                     <option value="1957">1957</option>
                                     <option value="1956">1956</option>
                                     <option value="1955">1955</option>
                                     <option value="1954">1954</option>
                                     <option value="1953">1953</option>
                                     <option value="1952">1952</option>
                                     <option value="1951">1951</option>
                                     <option value="1950">1950</option>
                                     <option value="1949">1949</option>
                                     <option value="1948">1948</option>
                                     <option value="1947">1947</option>
                                     <option value="1946">1946</option>
                                     <option value="1945">1945</option>
                                     <option value="1944">1944</option>
                                     <option value="1943">1943</option>
                                     <option value="1942">1942</option>
                                     <option value="1941">1941</option>
                                     <option value="1940">1940</option>
                                     <option value="1939">1939</option>
                                     <option value="1938">1938</option>
                                     <option value="1937">1937</option>
                                     <option value="1936">1936</option>
                                     <option value="1935">1935</option>
                                     <option value="1934">1934</option>
                                     <option value="1933">1933</option>
                                     <option value="1932">1932</option>
                                     <option value="1931">1931</option>
                                     <option value="1930">1930</option>  
                                   </select>
                                </div>
                                   <div class="col-xs-12" ng-show="noValidateDate">

                                       <div class="alert alert-danger">
                                          Selecciona una fecha valida.
                                       </div>

                                   </div>    
                             </div>
                            </div>
                         </div>

                      </div>
                      <div class="row">
                         <div class="col-md-12">
                            <div class="form-group" >
                               <label>Género:</label>
                               <div class="row">

                                   <div class="col-md-12">
                                     <div class="col-xs-6 col-button">
                                        <div>
                                            <input name="gender" value="M" ng-click="selectGeneroM()" id="radio1" type="radio">
                                            <label for="radio1"  class="float-shadow price">
                                            <i class="fa fa-male"></i> Masculino</label>
                                        </div>
                                     </div>
                                     <div class="col-xs-6 col-button">
                                        <div>
                                            <input name="gender" id="radio2" ng-click="selectGeneroF()" type="radio">
                                            <label for="radio2" class="float-shadow price">
                                                <i class="fa fa-female"></i> Femenino</label>
                                        </div>
                                     </div>
                                  </div>
                               </div>

                            </div>
                         </div>
                      </div>

                      <!--Telefono celular-->
                      <div class="row">
                         <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                 <label>Teléfono fijo (10 digitos)</label>
                                 <input type="tel" maxlength="16" name="fijo" class="form-control"  mask="(99) 9?9999-9999" clean="true" ng-model="formService.formPersonal.telFijo" placeholder="Teléfono Fijo"   required>

                             </div>   
                         </div>
                         <!--Telefono casa-->
                         <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                               <div class="form-group">
                                 <label>Teléfono Celular (10 digitos)</label>
                                 <input type="tel" maxlength="16" class="form-control"  mask="(99) 9?9999-9999" clean="true" ng-model="formService.formPersonal.telMovil"  placeholder="Teléfono Móvil" required>

                             </div> 
                            </div>
                         </div>
                      </div>
                      <div class="row">
                         <div class="form-group">

                         <div class="col-md-12">
                                 <button  type="submit" class="btn-orange btn btn-lg btn-block semi-bold" ng-disabled="noValidateDate===true">
                                         <span>GUARDAR Y CONTINUAR <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                 </button>      
                         </div>

                         </div>
                      </div>

                   </form>
                    <!--FIN FORM PERSONALES-->

                    <!--INICIO FORM HOGAR-->
                    <form id="formHogar" ng-controller="hogarControlador" ng-submit="submitHogar()" ng-cloak ng-show="sectionService.showHogar" class="wow fadeIn">
                      <h4><strong>Datos Hogar</strong></h4>
                      <div class="row">
                         <div class="col-sm-4 col-xs-4">
                            <div class="form-group">
                                 <label for="cp">Código Postal</label>
                                 <input type="text" maxlength="5" class="form-control" placeholder="Código Postal" ng-blur="exitsCp(formService.formHogar.cp)"  ng-model="ngModelOptionsSelected" ng-model-options="modelOptions"  uib-typeahead="c for c in codigos | filter:$viewValue | limitTo:8" solo-numeros required>     
                                       <div ng-show="cp_invalido" class="alert alert-danger wow fadeIn">
                                         Lo sentimos por el momento no tenemos sucursales cercanas a tu código postal
                                       </div>                       
                            </div>
                         </div>

                         <div class="col-sm-4 col-xs-4">
                            <div class="form-group">
                                 <label for="colonia">Colonia</label>
                                 <select class="form-control" id="delegacion"  ng-model="formService.formHogar.colonia" ng-options="c for c in colonias">   
                                 </select>
                            </div>
                         </div>

                         <div class="col-sm-4 col-xs-4">
                            <div class="form-group">
                               <label for="delegacion">Delegación</label>
                               <select class="form-control" id="delegacion"  ng-model="formService.formHogar.delegacion">
                                 <option ng-repeat="d in delegaciones"  ng-selected="true"  value="{{d.delegacion}}" >
                                    {{d.delegacion}}
                                </option>
                               </select>
                            </div>
                         </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                   <label>Calle</label>
                                   <input type="text" id="calle" ng-model="formService.formHogar.calle"  class="form-control" placeholder="Calle"/>             
                            </div>                      
                         </div>

                          <div class="col-sm-3 col-md-3 col-xs-12">
                             <div class="form-group">
                                 <label for="interior">Interior</label>
                                   <input type="text"  class="form-control" placeholder="Número interior" maxlength="5"  ng-model="formService.formHogar.interior"  required>   
                             </div>                
                         </div>
                         <div class="col-sm-3 col-md-3  col-xs-12">
                            <div class="form-group" >
                                <label for="exterior">Exterior</label>
                                <input type="text" class="form-control" placeholder="Número exterior" maxlength="5"  ng-model="formService.formHogar.exterior"  required>     
                            </div>
                         </div>
                      </div>

                      <ng-include src="'html/mapPicker.html'"></ng-include>

                      <div class="row">
                          <div class="col-md-12">
                              <h4><strong>¿Cuentas con los siguientes documentos vigentes?</strong></h4>
                          </div>    
                      </div>

                    <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group" >
                            <label>Comprobante Domicilio</label>
                            <br>
                              <div class="btn-group btn-group-lg">
                                  <label class="btn btn-default btn-radio" ng-model="formService.formHogar.domicilio" uib-btn-radio="'true'">Si</label>
                                 <label class="btn btn-default btn-radio" ng-model="formService.formHogar.domicilio" uib-btn-radio="'false'">No</label>                       
                             </div>

                        </div>

                    </div>


                   <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <label>Identificación oficial vigente</label>
                            <br>
                              <div class="btn-group btn-group-lg">
                                 <label class="btn btn-default btn-radio" ng-model="formService.formHogar.identificacion" uib-btn-radio="'true'">Si</label>
                                 <label class="btn btn-default btn-radio" ng-model="formService.formHogar.identificacion" uib-btn-radio="'false'">No</label>                       
                             </div>
                        </div>
                    </div>

                       <div class="col-md-4 col-xs-4">

                        <div class="form-group">
                            <label>Comprobante de ingresos</label>
                            <br>
                             <div class="btn-group btn-group-lg">
                                 <label class="btn btn-default btn-radio" ng-model="formService.formHogar.comprobante_ingresos" uib-btn-radio="'true'">Si</label>
                                 <label class="btn btn-default btn-radio" ng-model="formService.formHogar.comprobante_ingresos" uib-btn-radio="'false'">No</label>                       
                             </div>
                        </div>

                       </div>

                      </div>
                      <div class="row wow fadeIn" ng-show="string2Bool(formService.formHogar.comprobante_ingresos)">
                          <div class="col-md-12">
                            <label>Ingresos mensuales</label>    
                          </div>
                      </div>
                      <div class="row wow fadeIn" ng-show="string2Bool(formService.formHogar.comprobante_ingresos)">

                          <div class="col-md-7"> 
                              <div class="form-group" style="margin-bottom: 0;">
                                  <input type="text" placeholder="Ingresos mensuales"  maxlength="8"   ng-change="onchangeIngresos()" clean="true" ng-model="formHogar.ingresos" class="form-control"/> 
                              </div>
                         </div>


                           <div class="col-md-5">
                               <div class="form-group">                    
                                     <a uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}"  class="btn btn-block btn-info">Ayuda <span class="glyphicon glyphicon-question-sign"></span></a>
                                  <script type="text/ng-template" id="myPopoverTemplate.html">
                                    <div>
                                        {{dynamicPopover.content}}
                                    </div>
                                    <div class="form-group">
                                        <ul>
                                            <li>Estado de cuenta banco</li>
                                            <li>Otro documento 1</li>
                                            <li>Otro documento 2</li>
                                        </ul>
                                    </div>
                                </script>
                               </div>

                          </div>

                      </div>


                      <div class="row">
                         <div class="form-group">

                         <div class="col-md-12">
                                 <button  type="submit" class="btn-orange btn btn-lg btn-block semi-bold" ng-disabled="noValidateDate===true">
                                         <span>GUARDAR Y CONTINUAR <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                 </button>      
                         </div>

                         </div>
                      </div>

                   </form>

                    <!--FORM TRABAJO-->
                    <form id="formTrabajo" ng-submit="submitTrabajo()" ng-cloak  ng-show="sectionService.showTrabajo" class="wow fadeIn">
                      <h4><strong>Datos Trabajo</strong></h4>
                      <div class="row">
                         <div class="col-sm-12 col-xs-12">
                              <div class="form-group">
                                 <label for="nombre">Nombre Empresa</label>
                                 <input type="text" class="form-control" ng-model="formService.formTrabajo.nombre_empresa"  placeholder="Nombre Empresa"/>
                              </div>   
                         </div>
                         <div class="col-sm-12 col-xs-12">
                             <div class="form-group">
                                   <label for="giro">Giro Empresa</label>
                                   <input type="text" class="form-control" ng-model="formService.formTrabajo.giro_empresa"   placeholder="Giro Empresa"/>
                               </div>
                         </div>
                      </div>
                       <br>
                      <div class="row">
                          <div class="col-md-12">
                              <h4><strong>¿Cuentas con referencias en tu trabajo?</strong></h4>
                          </div>    
                      </div>
                      <div class="row">
                         <div class="col-sm-6 col-xs-6">
                            <div class="form-group">
                                  <label for="referencia1">Referencia 1</label>
                                  <input type="text" class="form-control" ng-model="formService.formTrabajo.referencia_empresa"  placeholder="Referencia 1"/>
                            </div>
                         </div>

                        <div class="col-sm-6 col-xs-6">
                            <div class="form-group">
                                 <label for="referenciaTel1">Telefono (10 digitos)</label>
                                 <input type="tel" maxlength="10" class="form-control"  ng-model="formService.formTrabajo.ref1Tel_empresa" mask="(99) 9?9999-9999" clean="true" placeholder="Telefono"/>
                            </div>
                         </div>     
                      </div>
                      <div class="row">
                          <div class="col-sm-6 col-xs-6">
                             <div class="form-group">
                                 <label for="referencia1">Referencia 2</label>
                                 <input type="text" class="form-control" ng-model="formTrabajo.referencia2_empresa"  placeholder="Referencia 2"/>
                             </div>
                          </div>
                           <div class="col-sm-6 col-md-6 col-xs-6">
                             <div class="form-group">
                                   <label for="referenciaTel1">Telefono 2 (10 digitos)</label>
                                   <input type="tel" maxlength="10" class="form-control"  ng-model="formService.formTrabajo.ref2Tel_empresa" mask="(99) 9?9999-9999" clean="true" placeholder="Telefono 2"/>
                             </div>                
                         </div>

                      </div>

                     <div class="row">
                               <div class="col-md-12">
                                 <button  type="submit" class="btn-orange btn btn-lg btn-block semi-bold" ng-disabled="noValidateDate===true">
                                         <span>GUARDAR Y CONTINUAR <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                 </button>      
                      </div>

                       </div>

                   </form>
                   <!--Fin form trabajo-->
                   <!--Inicio form referencias-->
                   <form id="formReferencia" ng-submit="submitReferencia()" ng-cloak  ng-show="sectionService.showReferencias" class="wow fadeIn"> 
                      <h4><strong>Datos Referencia</strong></h4>
                       <div class="row">
                         <div class="col-sm-6 col-xs-6">
                            <div class="form-group">
                                  <label for="referencia1">Referencia 1</label>
                                  <input type="text" class="form-control" ng-model="formService.formReferencia.nombre_ref1"  placeholder="Referencia 1"/>
                            </div>
                         </div>

                        <div class="col-sm-6 col-xs-6">
                            <div class="form-group">
                                  <label for="referenciaTel1">Telefono (10 digitos)</label>
                                  <input type="tel" maxlength="10" class="form-control" ng-model="formService.formReferencia.telefono_ref1" mask="(99) 9?9999-9999" clean="true" placeholder="Telefono"/>
                            </div>
                         </div>     
                      </div>
                      <div class="row">
                          <div class="col-sm-6 col-xs-6">
                             <div class="form-group">
                                 <label for="referencia1">Referencia 2</label>
                                 <input type="text" class="form-control" ng-model="formService.formReferencia.nombre_ref2"  placeholder="Referencia 2"/>
                             </div>
                          </div>
                           <div class="col-sm-6 col-md-6 col-xs-6">
                             <div class="form-group">
                                   <label for="referenciaTel1">Telefono 2 (10 digitos)</label>
                                    <input type="tel" maxlength="10" class="form-control"  ng-model="formService.formReferencia.telefono_ref2" mask="(99) 9?9999-9999" clean="true" placeholder="Telefono 2"/>
                             </div>                
                         </div>
                      </div>

                     <div class="row">
                               <div class="col-md-12">
                                 <button  type="submit" class="btn-orange btn btn-lg btn-block semi-bold" ng-disabled="noValidateDate===true">
                                         <span>GUARDAR Y CONTINUAR <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                 </button>      
                                </div>
                     </div>
                   </form>
                  <!--Fin form referencias-->  
                  <div class="row wow fadeIn" id="formPrivacidad" ng-cloak ng-show="sectionService.showPrivacidad">
                          <div class="col-md-12">
                              <div class="wow bounceInUp">
                                 <h4><strong>Politicas de privacidad</strong></h4>
                                 <span>
                                     Otorgo mi consentimiento a Financiera Ayudamos, S.A. de C.V., SOFOM, ER. para que se traten mis datos personales financieros, en su caso, para identificación, operación, administración, los cuales podrán ser transferidos a terceros solo para estos fines.
                                 </span>     
                              </div>
                              <br>
                              <form role="form" ng-submit="submitPrivacidad()">
                                  <div class="form-group">
                                      <label class="wow bounceInUp" data-wow-delay="0.5s" ><input ng-model="formService.formPrivacidad.acepto"  type="checkbox" value=""> HE LEIDO Y ACEPTO LAS POLITICAS DE PRIVACIDAD</label>
                                     <div class="row">
                                         <div class="col-md-12 wow fadeIn" ng-show="formService.formPrivacidad.acepto" >
                                             <button  type="submit" class="btn-orange btn btn-lg btn-block semi-bold" ng-disabled="noValidateDate===true">
                                                     <span>SOLICITAR MI CRÉDITO <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                             </button>      
                                        </div>
                                    </div>
                                  </div>

                              </form>

                          </div>
                      </div>

                </div>
             </div>
          </div>
       </div>

    </div>
      


 </div>
    
            <!-- inicio footer -->
          <div id="footer" ng-cloak ng-show="showRegistro">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                                    <h3>Financiera te ayudamos</h3>
				</div>
			</div>
		</div>
	</div>
	<!-- end:footer -->
	
	<!-- begin:copyright -->
	<div id="copyright" ng-cloak ng-show="showRegistro">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<small>Copyright &copy; 2016 Financiera te ayudamos </small>
				</div>
			</div>
		</div>
	</div>
	<!-- end:copyright -->
        
     
        
          <div id="contenedor-chat">
            <i class="fa fa-comments-o rotate-chat" aria-hidden="true"></i>
            <p class="rotate-chat">
               CHAT
           </p>
       </div>
    
        <!--ANIMACION SCRIPT-->
        <script src="js/libs/wow.min.js"></script> 
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.min.js"></script>
        <!--ANGULAR-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
        <script src="js/libs/mask.js"></script>
        <!--CUSTOM LIBS-->
        <script src="js/angular/angular-animate.js"></script>
        <script src="js/libs/angular-toggle-switch.min.js"></script>
        <script src="js/libs/sweetalert.min.js"></script>
        <script src="js/libs/moment.js"></script>
       
        <!--ANGULARS CONTROLLERS-->
        <script src="js/angular/app.js"></script>
        <script src="js/angular/controllers/modalControlador.js"></script>
        <script src="js/angular/controllers/controller.js"></script>
        <script src="js/angular/controllers/hogarControlador.js"></script>
        <script src="js/angular/controllers/personalesControlador.js"></script>
        

    </body>
</html>