<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
           <div class="row">
                         <div class="col-md-12">
                              
                               <label>Elige tu ubicación</label>
                               <input class="form-control" type="text" style="display: none"  placeholder="longitud" id="longitud" ng-model="formService.formHogar.longitud"/>
                               <input class="form-control" type="text" style="display: none" placeholder="laltitud" id="laltitud" ng-model="formService.formHogar.laltitud"/>
                               <div  google-maps id="mapa" style="width:100%; height: 400px; position: relative; overflow: hidden; transform: translateZ(0px)">
                                
                              </div>
                           
                         </div>                   
         </div>
       