<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
 
              <div class="modal-header" id="myModalContent.html">
                     <h3 class="modal-title">¡Si lo prefieres escribe tu nombre completo y teléfono y nosotros nos pondrémos en contacto contigo!</h3>
               </div>
              <div class="modal-body">
               <form name="formModalPop">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label>Nombre:</label>
                             <input type="text" class="form-control" placeholder="Nombre" name="nombre" ng-model="formModal.nombre"  required>
                           </div>
                        </div>
                         <div class="col-sm-6">
                           <div class="form-group">
                              <label>Segundo Nombre:</label>
                              <input type="text" class="form-control" placeholder="Nombre" name="segundo_nombre"  ng-model="formModal.segundo_nombre" required> 
                            
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label>Apellido Paterno:</label>
                              <input type="text" class="form-control" placeholder="Paterno" name="paterno"  ng-model="formModal.paterno" required> 
                            
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label>Apellido Materno:</label>
                              <input type="text" class="form-control" placeholder="Materno" name="materno"  ng-model="formModal.materno" required>   
                           </div>
                        </div>
                     </div>
                <div class="row">
                        <!--Telefono casa-->
                        <div class="col-sm-12 col-md-12">
                           <div class="form-group">
                              <div class="form-group">
                                <label>Teléfono (10 digitos)</label>
                                <input type="tel" maxlength="16" class="form-control"  ng-model="formModal.telFijo"  placeholder="Teléfono" mask="(99) 9?9999-9999" clean="true"  required>
                                
                            </div> 
                           </div>
                        </div>
                     </div>
             <br>
                <div class="row">
                 <div class="col-md-12">
                           <div class="form-group">
                           
                                <div class="wow fadeIn">
                                     <h4><strong>Politicas de privacidad</strong></h4>
                                     <span>
                                         Otorgo mi consentimiento a Financiera Ayudamos, S.A. de C.V., SOFOM, ER. para que se traten mis datos personales financieros, en su caso, para identificación, operación, administración, los cuales podrán ser transferidos a terceros solo para estos fines.
                                     </span>     
                                  </div>
                         <br>      
                         <label><input ng-model="formModal.acepto"  type="checkbox" value=""> HE LEIDO Y ACEPTO LAS POLITICAS DE PRIVACIDAD</label>
                                
                            </div>
                     </div>
                     
                </div>
                    <br> 
                   <div class="row">
                       <div class="col-md-12">
                            <input type="submit"  class="btn btn-primary btn btn-lg btn-block" type="button" ng-disabled="!formModal.acepto"  ng-click="submitModal()" value="ACEPTAR"/>
                       </div>
                   </div>
                  
                  
                   
               </form>
              
               
              </div>
              
                  
             <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">CANCELAR</button>
             </div>