<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div>
      {{dynamicPopover.content}}
  </div>
  <div class="form-group">
      <ul>
          <li>Estado de cuenta banco</li>
          <li>Otro documento 1</li>
          <li>Otro documento 2</li>
      </ul>
  </div>